<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystems are summarized

**Objectives:**
- List Popular Languages in Data Science
- List Popular Libraries in Data Science
- Markdown versus Code cells
- Show different format styles

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientist are:

1. Pandas
2. NumPy
3. MatplotLib
4. Keras

| Data Science Tools |
| -------------|
| RStudio |
| JupytrLab |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

[1] 17

In [5]:
200/60
#This will convert 200 minutes to hours by diving by 60

[1] 3.333333

## Author
Tierney Matz